# ===== binarios pesados (se descargan con bootstrap.ps1) =====
/bin/
/downloads/

# ===== runtime =====
/logs/
/tmp/

# ===== generado automaticamente =====
/config/apache/vhosts/*.conf

# ===== proyectos (opcional: descomenta si NO quieres versionar tus sitios) =====
# /www/

# varios
*.log
Thumbs.db
Desktop.ini

# basura de shell de Windows
tools/dashboard/%SystemDrive%/
**/cversions*.db
